# Legacy explicit dependency set from Genesis transitive packages.
# Not used by default install; prefer requirements.txt.
black
coacd
freetype-py
libigl
lxml
moviepy
mujoco
numba
numpy
opencv-python
OpenEXR
psutil
pycollada
pydantic
PyGEL3D
pyglet
pygltflib
PyOpenGL
scikit-image
screeninfo
six
taichi
tetgen
jinja2
